/* Accueil */

.options
{
	position: fixed;
	top: 2%;
	left: 2%;
	z-index: 1;
}

.chrono
{
	position: relative;
	top: 140px;
	z-index: 10;

	width: 90px;
	padding: 35px 0;

	margin: auto ;

	font-size: 0.6em;
	color: $text-black;

	background-color: $texte;
	@include border-radius(100px);
	@include box-shadow(1px 1px 5px $shadow-color);
}

article
{
	position: absolute;
	top: 0;
	// bottom: 0 ;
	width: 50%;
	height: 96%;
	z-index: 0;

	padding: 4% 0;
}

.nom
{
	padding: 10px 15px;
}

.score
{
	padding: 10% 0;
	font-size: 4em;
}

.actions
{
	font-size: 60px;
	height: 21%;
	width: 94%;
	margin: auto;
	@include box-sizing(border-box);

	.joueurs {
		font-size: 40px ;

		position: relative ;
		bottom: 10px ;
	}
}

.moins
{
	float: left;
}

.plus
{
	float: right;
}

.hidden {
	display: none ;
}