/* Options */

.orange-clair
{
	background-color: $orange-clair;
}		


.orange-fonce
{
	background-color: $orange-fonce;
}


.rose
{
	background-color: $rose;
}


.bleu-clair
{
	background-color: $bleu-clair;
}


.vert-clair
{
	background-color: $vert-clair;
}


.jaune
{
	background-color: $jaune;
}


.rouge
{
	background-color: $rouge;
}


.mauve
{
	background-color: $mauve;
}


.bleu-fonce
{
	background-color: $bleu-fonce;
}


.vert-fonce
{
	background-color: $vert-fonce;
}