/* Couleurs */
$orange-clair: 	#e6a128;
$orange-fonce: 	#f15b33;
$rose: 			#ef7777;
$bleu-clair: 	#2aabe0;
$vert-clair: 	#43c530;
$jaune: 		#e6d628;
$rouge: 		#f12121;
$mauve: 		#a03889;
$bleu-fonce: 	#533ea8;
$vert-fonce: 	#06612c;


/********************************************/
/* Typo */
$texte:         #fefefe;
$text-black: 	#222222;
$shadow-color: 		rgba(0, 0, 0, 0.4);


$body:			$orange-clair;